### Packages

In [1]:
import os 
import pandas as pd 
import numpy as np

In [2]:
os.listdir()

['Test SBM.ipynb',
 'transactions_01160000_01169999.csv',
 '.ipynb_checkpoints',
 'Import.ipynb',
 'Import-Brouillon1.ipynb',
 "Importer tous les CSV d'un coup.ipynb",
 'Import + Stats + Representation.ipynb']

# Smart Contracts

In [3]:
os.chdir("/home/nbernard/output/contracts")

def import_all_contracts():
    
    csv_list = []
    data = pd.DataFrame()
    
    for start in sorted(os.listdir()):
        folder_list = os.listdir("/home/nbernard/output/contracts/{}".format(start))
        folder = sorted(os.listdir("/home/nbernard/output/contracts/{}/{}".format(start,folder_list[0])))
        csv_list.append(folder)
    
    csv_list = np.array(csv_list).flatten()
    
    end_list = []
    for start in sorted(os.listdir()):
        folder_list = os.listdir("/home/nbernard/output/contracts/{}".format(start))
        end_list.append(folder_list)
    
    end_list = np.array(end_list).flatten()
    
    for start,csv,end in zip(sorted(os.listdir()),csv_list,end_list):
        
        folder = "/home/nbernard/output/contracts/{}".format(start)
        file = folder + "/" + end + "/{}".format(csv)
        df = pd.read_csv(file)
        data = data.append(df)
    return(data)

In [4]:
test = import_all_contracts()

In [5]:
test.head()

,address,bytecode,function_sighashes,is_erc20,is_erc721
0,0x94c81a1dbc5c41a5e9962a2d6da5aa5ff684259f,0x60606040526000357c01000000000000000000000000...,"0x2ef9db13,0xe3767876,0xee97f7f3",False,False
1,0x61c5e2a298f40dbb2adee3b27c584adad6833bac,0x60606040526000357c01000000000000000000000000...,"0x2ef9db13,0xe3767876",False,False
2,0xe7ca5a8e75ef17f845c14a85c50e39b0dd30b8b7,0x60606040526000357c01000000000000000000000000...,"0x90b98a11,0xbbd39ac0",False,False
3,0xa50156cf80fa9ec2e16899e4fb7e072300787417,0x606060405236156100615760e060020a600035046314...,"0x146008e3,0x667d5d22,0x8b299903,0x960edffb,0x...",False,False
4,0xe28e72fcf78647adce1f1252f240bbfaebd63bcc,0x600061039f537c010000000000000000000000000000...,0x45466f3a,False,False

In [6]:
test.describe()

,address,bytecode,function_sighashes,is_erc20,is_erc721
count,566603,566603,495588,566603,566603
unique,566603,23775,8322,2,1
top,0xa00c2a80d297b0777ce1c730d9167e73ff107b28,0x60606040523615610055576000357c01000000000000...,"0x66117276,0x82c90ac0,0xb76ea962,0xffffffff",False,False
freq,1,203318,203321,559852,566603

In [7]:
test.iloc[566602]

address                      0x48698846aa521fc57d575c7fff8bc9268d602b79
bytecode              0x60606040523615610055576000357c01000000000000...
function_sighashes          0x66117276,0x82c90ac0,0xb76ea962,0xffffffff
is_erc20                                                          False
is_erc721                                                         False
Name: 71840, dtype: object

# Transactions

In [49]:
os.chdir("/home/nbernard/output/transactions")

def import_all_transactions():
    
    csv_list = []
    data = pd.DataFrame()
    
    for start in sorted(os.listdir()):
        folder_list = os.listdir("/home/nbernard/output/transactions/{}".format(start))
        folder = sorted(os.listdir("/home/nbernard/output/transactions/{}/{}".format(start,folder_list[0])))
        csv_list.append(folder)
    
    csv_list = np.array(csv_list).flatten()
    print(csv_list)
    end_list = []
    for start in sorted(os.listdir()):
        folder_list = os.listdir("/home/nbernard/output/transactions/{}".format(start))
        end_list.append(folder_list)
    
    end_list = np.array(end_list).flatten()
    
    for start,csv,end in zip(sorted(os.listdir()),csv_list,end_list):
        
        folder = "/home/nbernard/output/transactions/{}".format(start)
        file = folder + "/" + end + "/{}".format(csv)
        df = pd.read_csv(file)
        data = data.append(df)
    return(data)